* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.game-board {
    width: 100%;
    height: 500px;
    border: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient( #87CEEB, #e0f6ff );
}
#restart-btn {
    position: fixed;
    cursor: pointer;
    font-size: large;
    bottom: -0;
    left: 5%;
    width: 120px;
    height: 50px ;
    color: blue;
    transform: translate(-35%);
    border: black;
    background: #87eb89;
  }
  
.pipe {
  position: absolute;
  bottom: 0;
  width: 60px;
  left: 86 px;
  animation: pipe-animation 1s infinite linear;
} 
.nuvem { 
    position: absolute;
    bottom: 0;
    width: 86px;
    animation: nuvem-animation 4s infinite linear
} 

.mario {
    width: 90px;
    position: absolute;
    bottom: 0;
    
}
 
.jump {
    animation: jump 950ms  ease-out;
}

@keyframes pipe-animation {
    from {
     right: -0;
    }

    to {
        right: 100%;
    }
}
@keyframes jump {
   0% {
    bottom: 0;
   } 
   40% {
    bottom: 160px;
   }
    
    50% {
        bottom: 160px;
    }
    
    60% {
        bottom: 180px;
    }

   100% {
    bottom: 0;
   }
}

.nuvem {
 animation: nuvem 950ms ease-out;
}

@keyframes nuvem-animation  {
    from {
     right: -0;
    }

    to {
    right: 100%;
    }
}
@keyframes nuvem {
   0% {
    bottom: 0;
   } 
   40% {
    bottom: 160px;
   }
    
    50% {
        bottom: 160px
    }
    
    60% {
        bottom: 180px
    }

   100% {
    bottom: 0;
   }
}
